{% extends 'Office/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col s2 offset-s10">
            <a class="btn-floating btn-large waves-effect waves-light blue" href="{% url 'update_patient' patient.id %}"><i class="material-icons">update</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'delete_patient' patient.id %}"><i class="material-icons">delete</i></a>
        </div>
    </div>
    <div class="row">
        <ul class="collection with-header">
            <li class="collection-header"><h4>{{ patient.first_name }} {{ patient.last_name }}</h4></li>
            <li class="collection-item">Patient ID: {{ patient.id }}</li>
            <li class="collection-item">Birthday: {{ patient.birthday }}</li>
            <li class="collection-item">Weight: {{ patient.weight }}</li>
            <li class="collection-item">Height: {{ patient.height }}</li>
        </ul>
    </div>
{% endblock %}